# Environment
ENVIRONMENT=development  # development or production

# API Configuration
ACCESS_TOKEN_SECURITY_KEY=<your-secret-key-change-this>
ACCESS_TOKEN_EXPIRE_MINUTES=10080  # 7 days

# Database Configuration
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chat_db

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# DESCOPE - Unset Project ID if not using Descope
DESCOPE_PROJECT_ID=<your-descope-project-id>

# LLMs
ANTHROPIC_API_KEY=<your-anthropic-key>

# MCP Servers needing keys

## Log Level for MCP Servers
MCP_SERVER_LOG_LEVEL=debug

## Brave
BRAVE_API_KEY=<your-brave-key>

## GitHub
GITHUB_PERSONAL_ACCESS_TOKEN=<your-github-key>

## Microsoft Graph
MCP_SERVER_MICROSOFT_GRAPH_TENANT_ID=<your-tenant-id>
MCP_SERVER_MICROSOFT_GRAPH_CLIENT_ID=<your-client-id>
MCP_SERVER_MICROSOFT_GRAPH_CLIENT_SECRET=<your-client-secret>